@using MvcPluginMasterApp.Plugin1.DomainClasses
@model IList<News>
@{
    ViewBag.Title = "From Plugin 1";
}
@Styles.Render("~/Plugin1/Content")

<h2>@ViewBag.Message</h2>

<div class="row">
    Embedded image:
    <img src="@Url.Content("~/NewsArea/Images/chart.png")" alt="clock" />
</div>

<div class="row">
    <ul>
        @foreach (var item in Model)
        {
            <li>@MvcPluginMasterApp.Plugin1.Resources.Home_Index_cshtml.Title : @item.Title</li>
        }
    </ul>
</div>

@Html.ActionLink("Show Resources", "ShowResources", "Home", new { area = "NewsArea" }, null)

@section scripts
{
    @Scripts.Render("~/Plugin1/Scripts")
}
